.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

data/
results/

outputs/*
!outputs/Patchcore/
!outputs/Patchcore/v3/
!outputs/Patchcore/v3/weights/
!outputs/Patchcore/v3/weights/lightning/
!outputs/Patchcore/v3/weights/lightning/model.ckpt

app.py
deploy_endpoint.py
register_model.py
score.py
train.py
test.py

Dockerfile
help.txt
README*
doc
help/